.header {
  h1 {
    margin-bottom: 0; 
  }
}

.logo {
  font-family: Inter;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.header__nav {
  padding: 1.5rem 1.25rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  img {
    margin-bottom: 0;
  }
}

@media (max-width: 1280px) {
  .header__nav {
    border-bottom: 1px solid #EBEBEB;
  }
} 

@media (min-width: 680px) {
  .header {
    z-index: 1;
  }
  .header__nav {
    padding: 2rem;
    align-items: flex-start;
    max-width: 100%;
    margin: 0 auto;
    img {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1280px) {
  .header {
    position: fixed;
    width: 100%;
  }
  
  .header__nav {
    padding: 2rem 3em;
  }
}