@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inter:wght@300&display=swap');


body {
  font-family: "Inter","Helvetica Neue", Helvetica, sans-serif;
  overflow-x: hidden;
  color: #000;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity .2s ease;
}

a:hover {
  transition: opacity .2s ease;
  opacity: .5;
  text-decoration-color: inherit;
}
ul {
  list-style: none;
  margin: 0;
}

//TYPOGRAPHY-------------------------------------
h1, h2 {
  font-family: "EB Garamond", Georgia, 'Times New Roman', Times, serif;
}

h3, h4, h5, h6, p {
  font-family: "Inter","Helvetica Neue", Helvetica, sans-serif;
}

h1, h2 {
  font-weight: 500;
}

h1 {
  font-size: 2.8rem;
  letter-spacing: -1px;
  line-height: 1.1875;
}

h2 {
  font-size: 2rem;
  letter-spacing: -.75px;
  line-height: 1.2;
}

h3 {
  font-size: 1.4rem;
  letter-spacing: -.5px;
  line-height: 1.1875;
  font-weight: normal;
}

h5 {
  color: #9E9E9E;
  font-weight: 400;
  margin-bottom: .5em;
}

p {
  font-size: 1rem;
  letter-spacing: -.5px;
  line-height: 1.7;
  color: #333333;
}

// gatsby-image plugin container-----------------

.gatsby-image-wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
}