.blog {
  h1 {
    margin-bottom: 0.7rem;
  }
}

.blog__hero {
  height: 50vh;
  width: 100%;
  margin: 0;
  img {
    margin-bottom: 0;
    object-fit: cover;
  }
}

.blog__info {
  padding: 1.5rem 1.25rem;
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  h1 {
    margin-bottom: 0.66rem;
  }
  h3 {
    margin-bottom: 0;
  }
}

.blog__body {
  width: 100%;
  padding: 0 1.25rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  a {
    text-decoration: underline;
    padding-bottom: 1.5rem;
  }
  :last-child {
    margin-bottom: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1.2;
  }

  h3 {
    margin: 1em 0;
  }

  p {
    color: #464646;
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.8;
  }
  ul {
    list-style: initial;
  }
  ul, ol {
    color: #464646;
    font-size: 1.1rem;
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
    line-height: 1.6;
    padding-left: 1.45rem;
  }
}

.blog__footer {
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem 1.25rem;
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  h2 {
    margin-bottom: 0;
  }
  span {
    font-size: .8rem;
    padding-right: 4px;
  }
  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      width: 10px;
    }
  }
}

@media (min-width: 680px) {
  .blog {
    display: flex;
    flex-direction: column;
  }
  .blog__body {
    max-width: 680px;
    padding: 0 2rem;
    span {
      width: 100%;
      margin: 1rem auto;
    }
    ul, ol {
      margin-left: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
  .blog__hero {
    height: 50vh;
    img {
      min-width: 100%;
    }
  }
  .blog__info {
    text-align: center;
    padding: 2rem 0;
    h1 {
      max-width: 500px;
      margin: 0 auto 0.66rem auto;
    }
  }
  .blog__footer {
    padding: 2.25rem;
  }
}

@media (min-width: 1280px) {
  .blog__hero {
    height: 60vh;
  }
  .blog__info {
    padding: 3rem 0 2rem;
  }
  .blog__footer {
    padding: 3rem 2rem;
  }
}
